
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Caudex', serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.mdb-footer {
    background-color:#1a1a1a; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    background-color:#1a1a1a; 
    width: 98%;
    min-width: 98%;
    padding: 20px;
    color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    font-size: 18px;
    text-align: left;
    border-radius: 10px; 
    font-family: 'Caudex', serif;
}

.footer-title {
    font-size: 1.5rem; 
    font-weight: 700; 
    text-align: left; 
    margin-bottom: 10px; 
}
.textt-muted{
    color: rgb(235, 235, 235);

}

.footer-column {
    flex: 1;
    padding: 10px;
}
.footer-column h6{
    font-family:'Raleway',sans-serif;
}
.footer-email-form {
    background-color: rgb(228, 228, 228); 
    font-family: 'Caudex', serif;
    border-radius: 10px; 
    padding: 15px;
    width: 400px; 
    margin: 10px 0; 
    font-family: 'Caudex', serif;
}

.footer-email-form input,
.footer-email-form textarea {
  font-family: 'Caudex', serif;
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
    font-size: 16px; 
}
.form2::placeholder{
    text-align: start !important;
}
.form2{
    text-align: start !important;
}
.footer-email-form form{
    margin-left: 0;
}
.text-uppercase {
    font-size: 1.2rem; 
    margin-bottom: 1rem; 
    font-family: 'Caudex', serif;
}

.mdb-icon {
    margin-right: 8px; 
}

.footer-credit {
    font-size: 16px; 
    color: rgb(235, 235, 235); 
    margin-top: 15px; 
    text-align: center; 
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; 
        align-items: center; 
        font-size: 16px; 
    }

    .footer-column {
        margin-bottom: 20px; 
        text-align: center; 
    }

    .footer-credit {
        font-size: 14px; 
    }

    .footer-email-form {
        width: 90%; 
    }
}
