@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.frame22-content1 text{
    font-family: 'Caudex',sans-serif;
    position:absolute;
    background-color: antiquewhite;
}
.mdb-footer {
    height: auto !important;
    min-height: unset !important;
    margin-bottom:100px;
  }
  
  @media (max-width: 768px) {
    .mdb-footer {
        margin-bottom: 30px; 
    }
}

@media (max-width: 576px) {
    .mdb-footer {
        margin-bottom: 650px; 
    }
}

.footer-email-form {
    padding: 1rem;
    max-width: 400px;
    margin: auto;
  }
  
  .footer-email-form input,
  .footer-email-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .footer-email-form button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  