/* src/components/EconomicNews.css */

.news-container {
  text-align: center; 
  max-width: 800px;
  margin: 30px auto; 
  padding: 1rem; 
}

h2 {
  margin-bottom: 30px;
  text-align: center;
}

.news-item {
  display: flex; 
  justify-content: center;
  align-items: center; 
  margin-bottom: 1rem; 
  border-bottom: 1px solid #ddd; 
  padding: 0.5rem 0;
}

  
  .news-item h3 {
    font-size: 1.2rem;
  }
  
  .news-item p {
    align-items: center;
  justify-content: center;
    font-size: 1rem;
    color: #666;
  }
  
  /* Responsive styling */
  @media (max-width: 600px) {
    .news-item h3 {
      font-size: 1rem;
    }
  
    .news-item p {
      align-items: center;
  justify-content: center;
      font-size: 0.9rem;
    }
  }
  