* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.insurance-container5 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	font-family: 'Arial', sans-serif;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 40px;
	color: #333;
}

.insurance-cards5 {
	display: flex;
	justify-content: space-between;
	gap: 130px;
	max-width: 1200px;
	flex-wrap: wrap;
}

.card5 {
	border-radius: 20px;
	width: 200px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 550px;
}
.title2{
	font-family:'Raleway',sans-serif;
	font-weight: 700;
	font-size: 40px;
	font-style: normal;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0px;
}

.image-placeholder5 {
	width: 250px;
	height: 300px;
	background-color: #4b4b4b;
	border-radius: 50px;
	margin-bottom: 20px;
	
}

.text-placeholder5 {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.text-placeholder5 p {
	color: #555;
	font-size: 18px;
	margin-bottom: 10px;
	font-family: "Caudex", serif;
}

.next-button5 {
	background-color: black;
    color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.next-button5:hover {
	background-color: gainsboro;
    color: black;
}

@media (max-width: 768px) {
	.insurance-cards5 {
		flex-direction: column;
		align-items: center;
	}

	.card5 {
		width: 100%;
		max-width: 300px;
	}
}
