body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 32px;
	font-family: 'Comic Sans MS', sans-serif;
	text-align: center;
	color: #000;
	margin-top: 5%;
}

.quote-container {
	width: 100%;
	height: 100vh;
	margin-bottom: 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quote-form {
	background-color: #aaaaaa;
	border-radius: 50px;
	width: 80%;
	max-width: 1000px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5%; /* Adds space between the title and the form */
}

.input-container {
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
}

input[type='text'],
input[type='email'] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	font-family: "Caudex", serif;
}

.quote-btn {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.quote-btn:hover {
	background-color: #444;
}

@media (max-width: 1200px) {
	.quote-form {
		width: 90%;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 24px;
	}

	.quote-form {
		width: 95%;
		padding: 20px;
		border-radius: 40px;
	}

	input[type='text'],
	input[type='email'] {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 20px;
	}

	.quote-form {
		padding: 15px;
		border-radius: 30px;
		margin-top: 15%;
	}

	input[type='text'],
	input[type='email'] {
		padding: 8px;
		font-size: 12px;
	}

	.quote-btn {
		padding: 8px 16px;
		font-size: 14px;
	}
}
