
.container2
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: url(adminbg.jpg) no-repeat;
    background-size: cover;
    background-position: relative;
    background-repeat: none;
    justify-content: space-between;
    border-radius: 19px;
}
.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    display: grid;
}

.login-popup-container{
    place-self: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadein 0.5s;
    font-family: 'Caudex', serif;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto', serif;
}
.login-popup-title h2{
    margin-left: 30px;
}
.login-popup-title img{
    cursor: pointer;
    color: white;
    width: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
} 
.mf-image{
    width:1170px !important;
    height: 500px !important;
}
/* .container2 .imgBx 
 { 
    position: relative;
    display: flex;
    background-size:initial;    
    background-position: relative;
    background-repeat: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    transition: 0.3s linear;
    border-radius: 15px 0 0 15px;
}
.container2 .imgBx::before
{
    content: 'Mutual Funds';
    position: absolute;
    top: 0;
    left: 24px;
    color: #403f3f;
    opacity: 0.2;
    font-size: 6em;
    font-weight: 800;
}*/

.container2 .imgBx img{
    position: relative;
    transform: rotate(-30deg);
    transition: .9s linear;
}
.container2 .details
{
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.5); Translucent black background */
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 40px;
    backdrop-filter: blur(10px); /* Glossy effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}
.container2 .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    background: linear-gradient(91.17deg, #F2994A, #F2C94C);
    font-family: "Raleway", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.container2 .details h2 span
{
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f3f2f2;
}
.mf-top{
    display: flex;
    justify-content: space-between !important;
    width: 1156px;
}
.mf-top h2{
    margin-left: -30px !important;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container2 .details p
{
    max-width: 85%;
    /* margin-left: 10%; */
    /* margin-top: 5%; */
    /* color: #dfdfdf; */
    color: #000;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 36px;
    font-family: "Caudex", serif;
}
.container2 .details h3{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #212121;
    float: left;
}

.container2 .details .btn
{
   margin-left: 0%;
}

.product-colors span
{
    width: 26px;
    height: 26px;
    top: 7px;
    margin-right: 12px;
    left: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.black
{
    background: #000;
    transition: all 0.3s ease-in-out;
}
.red
{
    background: #d5212e;
    transition: all 0.3s ease-in-out;
}
.orange
{
    background: #f18557;
    transition: all 0.3s ease-in-out;
}
.product-colors .active:after
{
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
}

.card-front{
    width: 500px !important;
}

@media (max-width:480px) {

 .details{
    width:400px !important;
    padding-top: 10px !important;
 }
 .details h2{
    font-size: 25px !important;
    margin-left: 40px !important;
    margin-top: 20px !important;
 }
 .details p{
    margin: 0 !important;
   max-width:380px !important;
   padding-top: 10px;
 }
 .content{
    width: 300px;
 }
 .container2{
    display: flex;
    flex-direction: column-reverse;
    width:400px !important ;
margin-left: 10px ;}
  
    .card-front{
        width: 350px !important;
        
    }
    .mf-top{
        width: 400px;
        height: 55px;
    }
    .btn{
        width: 80px;
        margin-right: 30px;
        margin-top: 15px;
    }
    .card-3d-wrap {
        width: 350px !important;
    }
    .mf-image{
        width: 300px !important;
        height: 150px !important;
    }
}
