.Mf-content{
    width: 80%;
    height: 370px;
    background-color: gainsboro;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 80px;
    position: absolute;
}
.Mf-content3{
    margin-top: 20%;
}
.Mf-content1 h1{
    margin-top: 5%;
    position: relative;
}

.Mf-content2{
    position: relative;
    margin-top: 30%;
    margin-bottom: 8%;
}

.input1{
    width: 250px;
    margin-top: 50px;
    border-color: black ;
}
.btn{
    margin-top: 5%;
    margin-left: 40%;
    width: 200px;
}