.motor{
    min-height: 100vh;
}
.motar-ins1-content1{
    height: 400px;
    width: 300px;
    margin-top: 45%;
    margin-bottom: 15%;
    border-radius: 60px;
}
.motar-ins1-content1 img{
    width: 500px !important;
    height: 350px !important;
    margin-left: 10%;
    border-radius: 40px !important;
}
.motar-ins1-content3{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 40px;
    margin-top: 10% !important;
    color: rgb(50, 48, 48);
}
.motar-ins1-content2{
    margin-top: 10%;
    font-family: "Caudex", serif;
    font-size: 18px;
    line-height: 2.5;
    letter-spacing: 1px;
}
.motar-ins1-content4{
    display: none;
}
.btn2{
    border-radius: 70px !important ;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    width: 200px !important; 
    font-family: "Caudex", serif;
}
.btn2:hover{
    background-color: rgb(216, 163, 28) !important;
    color: rgb(255, 255, 255) !important;
}

@media (max-width:993px){
    .motar-ins1-content1{
        height: 300px;
        width: 200px;
    }
    .motar-ins1-content2{
        margin-left: 15%;
        width: 400px;
        height: 400px;
    }

}

@media (max-width:769px) {
    .motar-ins1-content1{
        height: 300px;
        width: 500px;
        margin-top: 7%;
        margin-bottom: 5% !important;
        margin-left: 0 !important;
    }
    .motar-ins1-content2{
        margin-top: 0;
        margin-left: 10%;
        height: 380px;
    }
    .btn2{
        margin-left: 30% !important;
        margin-top: 0 !important;
    }
    
}

@media (max-width:577px) {
    .motar-ins1-content1{
        height: 300px;
        width: 400px !important;
        margin-top: 7%;
        margin-bottom: 10%;
        margin-left: 13% !important;
    }
    .motar-ins1-content2{
       margin-left: 15% !important;
       font-size: 14px;
    }
    
}
@media (max-width:480px) {
    .motor{
        min-height: 190vh;
    }
    .motar-ins1-content3{
        display: none;
       }
    .motar-ins1-content4{
        display: inline;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-style:normal;
        font-size: 30px;
        margin-top: 10% !important;
        color:aliceblue ;
       }
       .motar-ins1-content1{
        height: 300px !important;
        width: 350px !important;
        margin-top: 7%;
        margin-bottom: 10%;
        margin-left: 5% !important;
    }
    .motar-ins1-content2{
        margin-top: 8%;
        font-family: "Caudex", serif;
        font-size: 16px !important;
        line-height: 2 !important;
        letter-spacing: 1px;
        margin: 0;
        margin-left: 0 !important;
        height: 550px;
        
    }
    .btn2{
        position: relative;
        top: 0%;
        margin-left: 0% !important;
        height: 40px;
        font-size: 14px !important;
    }
}