.motar-ins1-content1{
    height: 400px;
    width: 300px;
    background-color: gainsboro;
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 60px;
}
.motar-ins1-content3{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 40px;
}
.motar-ins1-content2{
    margin-top: 15%;
    font-family: "Caudex", serif;
}
.btn2{
    border-radius: 70px !important ;
    background-color: black !important;
    color: white !important;
    width: 200px !important; 
    font-family: "Caudex", serif;
}
.btn2:hover{
    background-color: gainsboro !important;
    color: black !important;
}

@media (max-width:993px){
    .motar-ins1-content1{
        height: 300px;
        width: 200px;
    }
    .motar-ins1-content2{
        margin-left: 15%;
        width: 400px;
        height: 400px;
    }

}

@media (max-width:769px) {
    .motar-ins1-content1{
        height: 300px;
        width: 500px;
        margin-top: 7%;
        margin-bottom: 5% !important;
        margin-left: 0 !important;
    }
    .motar-ins1-content2{
        margin-top: 0;
        margin-left: 10%;
        height: 380px;
    }
    .btn2{
        margin-left: 30% !important;
        margin-top: 0 !important;
    }
    
}

@media (max-width:577px) {
    .motar-ins1-content1{
        height: 300px;
        width: 400px !important;
        margin-top: 7%;
        margin-bottom: 10%;
        margin-left: 13% !important;
    }
    .motar-ins1-content2{
       margin-left: 15% !important;
       font-size: 14px;
    }
    
}
@media (max-width:480px) {
    .motar-ins1-content1{
        height: 250px !important;
        width: 300px !important;
    }
    .motar-ins1-content2{
        font-size: 16px;
        margin-left: 5% !important;
        width: 350px !important;
        height: 470px !important;
    }
    .btn2{
        margin-left: 5% !important;
        margin-bottom: 5% !important;
    }
    
}