.home-img2{
    width: 85%;
    height: 80%;
    margin-left: 8%;
    margin-bottom: 2%;
}
.pic1{
    height: 600px;
    width: 1320px;
}
.heading5{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 40px;
}
.home-content3{
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Caudex", serif;
    font-size: 18px;

}
 @media (max-width:1025px) {
    .home-img2{
        width: 600px;
        margin-left: 18%;
    }
    .home-content3{
        font-size: 15px;
        margin-left: 20%;
        margin-right: 20%;
    }
 }

 @media (max-width:770px) {
    .home-img2{
        width: 600px;
        margin-left: 10%;
    }
    .home-content3{
        font-size: 14px;
        margin-left: 15%;
        margin-right: 15%;
    }
 }
 @media (max-width:660px) {
    .home-img2{
        width: 500px;
        margin-left: 10%;
    }
    .home-content3{
        font-size: 13px;
        margin-left: 15%;
        margin-right: 15%;
    }
 }

 @media (max-width:570px) {
    .home-img2{
        width: 400px;
        margin-left: 10%;
    }
    .home-content3{
        font-size: 13px;
        margin-left: 15%;
        margin-right: 15%;
    }
 }

 @media (max-width:480px) {
    .home-img2{
        width: 350px;
        height: 300px !important;
        margin-left: 10%;
    }
    .pic1{
        height: 250px;
        width: 350px;
    }
    .home-content3{
        font-size: 16px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .heading5{
        margin-top: 70% !important;
    }
 }
 
 

