
.firm-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    min-height: 20vh;
  }
  
  .firm-page h1 {
    font-size: 2.5rem;
    font-weight: 1500;
    margin-bottom: 10px;
  }
  
  .horizontal-line {
    width: 50%;
    border: none;
    border-top: 1px solid #333;
    margin: 10px 0;
  }
  .heading2{
    font-weight: 700 !important;

  }
  .firm-description {
    margin: 20px 0;
    padding: 10px;
    max-width: 900px;
  }
  
  .firm-description p {
    font-size: 18px;
    line-height: 2.5;
    letter-spacing: 1px;
    color: #666;
    font-family: "Caudex", serif;
  }
  
  .firm-stats {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
  }
  
  .firm-stat {
    text-align: center;
    flex-basis: 30%;
    margin-bottom: 20px;
    width: 200px;
  }
  
  .firm-stat h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .firm-stat p {
    font-size: 1.2rem;
    color: #666;
    margin: 0;
    font-family:"Caudex", serif ;
  }
  
  @media (max-width: 768px) {
    .firm-page h1 {
      font-size: 2rem;
    }
  
    .horizontal-line {
      width: 70%;
    }
  
    .firm-description p {
      font-size: 0.9rem;
    }
  
    .firm-stats {
      justify-content: center;
    }
  
    .firm-stat {
      flex-basis: 45%;
    }
  
    .firm-stat h2 {
      font-size: 2.5rem;
    }
  
    .firm-stat p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .firm-page h1 {
      font-size: 25px;
      font-weight: 500;
    }
  
    .horizontal-line {
      width: 80%;
    }
  
    .firm-description p {
      font-size: 16px;
      line-height: 2;
    }
  
    .firm-stats {
      display: flex;
      flex-direction: column; /* Changes to vertical alignment */
      align-items: center; /* Centers content within the container */
    }
  
    .firm-stat {
      flex-basis: 100%; /* Each item takes full width in vertical alignment */
      text-align: center; /* Center-align text */
      padding: 1rem 0; /* Add spacing between items */
    }
  
    .firm-stat h2 {
      font-size: 22px; /* Adjust heading font size for mobile */
    }
  
    .firm-stat p {
      font-size: 0.85rem; /* Slightly smaller font size for mobile */
    }
  }
  
  
  
  
  