.sipbutton{
    display: grid;
    justify-items: center;
    margin-top: 30px;
}
.sip-div{
  min-height: 100vh;
  background: url(adminbg.jpg);
}
.sip-title{
  color:#fdfdfd;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px !important;
    text-align:center;
    line-height:1.7;
    margin-bottom: 20px;
    background: linear-gradient(91.17deg, #F2994A, #F2C94C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.tools{
    min-height: 75vh;
    
}
    .text-black-important {
        color: black !important;
      }

      .p-6{
        font-family: "Caudex", serif;
      }

      .input2{
width: 180px;
      }