.frame22-content1 h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 40px;
}
.frame21-img1{
    width: 900px;
    position:relative;
    display: flex;
    justify-items: center;
}
.frame21-content2{
    text-align: center;
    display: flex;
    align-items: center;
    
}
.frame22-content2{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    font-family: "Caudex", serif;
    font-size: 18px;
}

@media (max-width:580px) {
    .frame21-img1{
        width: 300px;
        margin:10px;
        display: flex;
        justify-items: center;
    }

}
@media (max-width:480px) {
    .frame22-content1 h1{
        font-size: 28px;
    }
    .frame21-img1{
        display: flex;
        justify-items: center;
        width: 400px;
        margin:10px;
      
    }
    .frame22-content2{
        font-size: 16px;
        margin-left: 10%;
        margin-right: 10%;
    }
    

}