.insurance-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	height: 100vh;
}

.title {
	font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 40px;
	margin-bottom: 20px;
}

.insurance-content {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1200px;
	flex-wrap: wrap;
}

.insurance-card {
    border-radius: 100px; /* Keep the rounded corners */
    padding: 20px;
    margin: 10px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.7); /* Initial shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for smooth effect */
}

.insurance-card:hover {
    transform: translateY(-5px); /* Slight upward movement on hover */
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4), -10px -10px 25px rgba(255, 255, 255, 0.9); /* Enhanced shadow on hover */
}

.insurance-image1 {
	width: 450px ; 
	height:370px;
	border-radius: 8px
}
.insurance-image2 {
	width: 400px ; 
	height:370px;
	border-radius: 8px
}

.insurance-details {
	margin-top: 15px;
	text-align: left;
	font-family: "Caudex", serif;
	font-size: 22px;
}

@media (max-width: 768px) {
	.insurance-card {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.title {
		font-size: 1.5rem;
	}

	.insurance-card {
		padding: 15px;
	}

	.insurance-details {
		font-size: 0.8rem;
	}
	.insurance-image {
		width: 300px; 
		height: 200px;
		border-radius: 8px
	}
}
