@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.Header {
    display: flex;
    flex-direction: column;
}
.header-content1 {
	margin-top: 9%;
}

.header-content3 {
	margin-top: 9%;
}
.me-auto{
	background-color:#3c3c3c;
	opacity: 80%;
	border-radius: 20px;
	padding-right: 20px;
	margin: 15px;
	margin-right: 15px;

}
.me-auto a {
	color:#ededed;
	font-family: 'Noto', serif;
	margin-left: 40px;
}
.ms-auto {
	opacity: 80%;

	background-color:#3c3c3c;
	border-radius: 20px;
	margin-right: 15px;
	margin: 15px;
}
.ms-auto a {
	color:#ededed;
	font-family: 'Noto', serif;
	margin-right: 15px;
	margin-left: 30px;
}
.nav-link.active{
	color:#ededed;
}
.nav-link.active:hover{
	color: #cfa601;
}
.hide1 {
	display: none;
}
.hide2 {
	font-family: 'Noto', serif;
}
.intelligent:hover{
	color:#E9B439;

}

.raleway .ms-auto a {
	font-family: 'Raleway', sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

a.navbar-brand {
	margin-left: 30px;
	font-size: 25px;
}
.navbar-brand {
	padding-top: var(--bs-navbar-brand-padding-y);
	font-size: var(--bs-navbar-brand-font-size);
	color:#4D4C4C;
	text-decoration: none;
	white-space: nowrap;
}

.header-content1 {
	margin-top:14%;
	color: #cfa601;
	font-family: var();
	font-size: 44px;
	font-weight:700;
}
.header-content2 {
	color: #cfa601;
	font-size: 44px;
	font-weight:700;

}
.navbar-nav{
	--bs-nav-link-hover-color:#cfa601;
}
.navbar {
    background-color: transparent !important;
    border: none; 
    box-shadow: none; 
}



.header-content3 {
	font-family: 'Caudex', serif;
	font-size: 18px;
	margin-top: 6%;
	color:#2c2c2c;
}
.header-content4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 78px; 
}
.btn12 {
	background-color: #cfa601;
	margin-top: 1% !important;
	color: rgb(255, 255, 255) !important;
	width: 150px;
	height: 50px;
	font-family: 'Caudex', serif;
	font-size: 15px;
	border-radius: 25px;
	text-align: center;
	box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2), inset -3px -3px 6px rgba(255, 255, 255, 0.7); /* Inner pillow on hover */
    background: linear-gradient(145deg, #cfa601, #d1b750);
    transition: all 0.3s ease;
	margin-left :0% !important;;
}
.login{
	background-color: #cfa601;
	border-radius: 20px;
	color:#ededed;
	font-family: 'Noto', serif;
	margin-right: 15px;
	border-radius: 20px;
	margin-right: 15px;
	margin: 15px;
}

.header-content6 {
    position: relative;
    width: 100vw;
    height: 650px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.glass-wrapper {
    padding: 40px;
    width: 100%;
    text-align:left;
}

.header-content1, 
.header-content2, 
.header-content3 {
	color: #4D4C4C;
    text-shadow: none;
}

.btn12:hover {
	box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2), inset -3px -3px 6px rgba(255, 255, 255, 0.7); /* Inner pillow on hover */
    background: linear-gradient(145deg, #e8bd0e, #eacd5d);   
	color: #fff;
    transform: scale(1.05);
}

.Header{
	background-image: url('vecteezy_abstract-modern-hexagon-background-white-and-grey-honey_.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center; 
	width: 100%; 
}

@media (max-width: 993px) {
	.ms-auto{
		background-color: transparent !important;
		border-radius: 0;
		margin: 0;
	}
	.ms-auto a {
		margin-left: 18px;
		color:#3c3c3c;
	}
	.me-auto{
		background-color:transparent !important;
		border-radius: 0;
		margin: 0;

	}
	.me-auto a {
		color:#3c3c3c;
				margin-left: 18px;
	}
	.header-content1 {
		font-size: 30px;
	}
	.header-content2 {
		font-size: 30px;
	}
	.header-content3 {
		font-size: 20px;
	}
	.hide1 {
		display: block;
		font-family: 'Noto', serif;
		margin-left: 10%;
	}
	.hide2 {
		display: none;
	}
	.btn12 {
		border-color: black !important;
		margin: 0 !important;
		margin-top: 2% !important;
		color: black !important;
		width: 190px;
		height: 30px;
		font-size: 9px;
	}

}

@media (max-width: 480px) {
	.ms-auto{
		background-color: transparent !important;
		border-radius: 0;
		margin: 0;
	}
	.ms-auto a {
		margin-left: 18px;
		color:#3c3c3c;
		}
	.me-auto{
		background-color:transparent !important;
		border-radius: 0;
		margin: 0;

	}
	.me-auto a {
		color:#3c3c3c;
		margin-left: 18px;
	}
	.Header{
		display: flex;
		flex-direction: column;
	}
	.header-content3 {
		font-size: 16px;

	}
	.navbar-toggler.collapsed {
		margin-left: 8%;
		margin-top: 1%;
	}
	.navbar-toggler {
		margin-left: 8%;
		margin-bottom: 0 !important;
	}
	.btn12 {
		border-color: black !important;
		margin: 0 !important;
		margin-top: 2% !important;
		color: black !important;
		width: 120px !important;
		height: 30px;
		font-size: 10px;
	}
	.hide1 {
		display: block;
		font-family: 'Noto', serif;
		margin-left: 10%;
	}
	.hide2 {
		display: none;
	}
	.header-content4{
		margin-top: 33%;
	}
	.header-content5 {
		margin-top: 40%;
	}
	.header-content6{
		height: 610px;
	} 
}


