/* CarInsurance.css */
.container {
    text-align: center;
    padding: 20px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffffff;
  
  }
  
  .large-card {
    background-color: #ffffff;
    padding: 20px;
    width: 600px;
    margin: 20px auto;
    border-radius: 15px;
  }
  
  .image-placeholder {
    background-color: #ccc;
    width: 550px;
    height: 150px;
    margin: 0 auto 15px;
    border-radius: 10px;
  }
  
  button {
    background-color: #aaa;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  