.news{
    margin:20px;
    min-height: 100vh;
}
.news-img1{
    width: 400px;
    height: 350px;
    margin-left: 10%;
    margin-top: 10%;
}
.heading2{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 40px;
}
.news-content1{
    margin-top: 10px;
    margin-bottom: 10%;
    font-family: "Caudex", serif;
    font-size: 16px;
    padding:10px;
}

@media (max-width:993px) {
    .news-img1{
        width: 600px;
        height: 350px;
        margin: 0;
        margin-left: 7%;
    }
    .news-content1{
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10%;
    }

}
@media (max-width:769px){
    .news-img1{
        width: 450px;
        height: 350px;
        margin: 0;
        margin-left: 7%;
    }
}

@media (max-width:577px) {
    .news-img1{
        width: 400px ;
        height: 350px;
        margin: 0;
        margin-left: 11%;
    }
    .news-content1{
        margin-left: 2%;
        margin-right: 2%;
        width: 480px;
    }
}

@media (max-width:480px) {
    #news{
        padding-top:0;
        }
    .news-img1{
        width: 300px ;
        height: 300px;
        margin: 0;
        margin-left: 10%;
    }
    .news-content1{
        margin-left: 5%;
        margin-right: 2%;
        width: 350px;
        font-size: 14px;
    }

}

    