.news{
    margin:20px;
    min-height: 100vh;
}
.news-img1{
    width: 462px;
    height: 22rem;
    border-radius: 15px;
}
.main__heading,.heading2{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 40px;
    color: #1a1a1a;
}
.news-content1{
    margin-top: 10px;
    margin-bottom: 10%;
    font-family: "Caudex", serif;
    font-size: 16px;
    padding:10px;
}
@media (max-width:1300px) {
    .news-img1{
        width: 280px;
        height: 300px;
        margin: 0;
        margin-left:3%;

    }
    .news-content1{
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10%;
    }
    .main {
        align-items: center;
        max-width: 95rem;
        padding: 3em 1.5em;
      }

}

@media (max-width:993px) {
    .news-img1{
        width: 600px;
        height: 350px;
        margin: 0;
        margin-left: 7%;
    }
    .news-content1{
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10%;
    }
    .main {
        align-items: center;
        max-width: 95rem;
        padding: 3em 1.5em;
      }

}
@media (max-width:769px){
    .news-img1{
        width: 450px;
        height: 350px;
        margin: 0;
        margin-left: 7%;
    }
    .main {
        align-items: center;
        max-width: 95rem;
        padding: 3em 1.5em;
      }
}

@media (max-width:577px) {
    .news-img1{
        width: 20rem ;
        height: 350px;
        margin: 0;
        margin-left: 11%;
    }
    .news-content1{
        margin-left: 2%;
        margin-right: 2%;
        width: 480px;
    }
    .main {
        align-items: center;
        max-width: 95rem;
        padding: 3em 1.5em;
      }
}

@media (max-width:480px) {
    #news{
        padding-top:0;
        }
    .news-img1{
        width: 18rem ;
        height: 300px;
        margin: 0;
    }
    .news-content1{
        margin-left: 5%;
        margin-right: 2%;
        width: 15rem;
        font-size: 14px;
    }
    .main {
        align-items: center;
        max-width: 95rem;
        padding: 3em 1.5em;
      }
}

@media (max-width:420px) {
    #news{
        padding-top:0;
        }
    .news-img1{
        width: 15rem ;
        height: 300px;
        margin: 0;
    }
    .news-content1{
        margin-left: 5%;
        margin-right: 2%;
        width: 12rem;
        font-size: 16px;
    }
    .main {
        align-items: center;
        max-width: 95rem;
        padding: 3em 1.5em;
      }

}
@media (max-width:380px) {
    #news{
        padding-top:0;
        }
    .news-img1{
        width: 17rem ;
        height: 18rem;
        margin: 0;
    }
    .news-content1{
        margin-left: 0%;
        margin-right: 0%;
        width: 18rem;
        font-size: 18px;
    }
    .main {
        align-items: center;
        max-width: 80rem;
        padding:0em 0em;

      }

}

@media (max-width:330px) {
    #news{
        padding-top:0;
        }
    .news-img1{
        width: 17rem ;
        height: 18rem;
        margin: 0;
    }
    .news-content1{
        margin-left: 0%;
        margin-right: 0%;
        width: 18rem;
        font-size: 18px;
    }
    .main {
        align-items: center;
        max-width: 100rem;
        padding:0rem 0rem;

      }
      .cards__card {
        padding-left: 10px;
      }

}


    