@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container1 {
    width: 90%;
    margin: 20px auto;
    padding: 5%;
    border-radius: 10px;
}

.heading1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text1 {
    font-family: 'Caudex', serif;
    font-size: 1.1em;
    margin-left: 5%;
    width: 100%;
    padding-right: 0;
    line-height: 1.8;
    letter-spacing: 0.8px;
}

.image-placeholder1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image1 {
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: #ccc;
    border-radius: 5px;
    object-fit: cover;
}

/* Medium screens (tablets) */
@media (min-width: 600px) {
    .text1 {
        width: 50%;
        padding-right: 20px;
    }
    .image-placeholder1 {
        width: 45%;
    }
}

/* Large screens (desktops) */
@media (min-width: 992px) {
    .container1 {
        padding: 80px;
    }
    .heading1 {
        font-size: 3em;
    }
    .text1 {
        font-size: 1.2em;
        line-height: 2.5;
        letter-spacing: 1px;
    }
    .image1 {
        max-width: 900px;
    }
}
