@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container11{
    margin-top:40px;
    background-color: black;
    padding:10px;
}
.container1 {
   
    width: 90%;
    margin: 20px auto;
    padding: 0 !important;
    border-radius: 10px;
    min-height: 100vh;
    
}

.heading1 {
    color:#fdfdfd;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px !important;
    text-align: center;
    margin-bottom: 20px;
}

.content1 {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7%;
}
.explore{
    justify-content: end;
    color:#cfa601;
    font-size: 18px !important;
    font-family: 'Caudex', serif;
    

}
.explorebutton{
  background-color: #cfa601;
	color: rgb(255, 255, 255) !important;
	width: 150px;
	height: 50px;
	font-family: 'Caudex', serif;
	font-size: 15px;
	border-radius: 25px;
	text-align: center;
  margin-left: 35%;
}

.explorebutton:hover{
  background-color: white;
  color: black !important;
}

.text1 {
    color:#ededed;

    font-family: 'Caudex', serif;
    font-size: 18px !important;
    margin-left: 5%;
    width: 100%;
    padding-right: 0;
    line-height: 3 !important;
    letter-spacing: 1 px;
}

.image-placeholder1 {
    width: 500px !important;
    height: 500px !important;
    background-color: #ccc;
    border-radius: 50px;
    object-fit: cover;
    position: relative;
    overflow: hidden; /* Ensure no overflow */
  }
  .image-placeholder1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px !important;
    object-fit: cover;
    opacity: 0; /* All images hidden initially */
    animation: rotateImages 12s infinite; /* Animation duration = 4 images * 3s each */
  }
  
  .image-placeholder1 img:nth-child(1) {
    animation-delay: 0s;
  }
  .image-placeholder1 img:nth-child(2) {
    animation-delay: 3s;
  }
  .image-placeholder1 img:nth-child(3) {
    animation-delay: 6s;
  }
  .image-placeholder1 img:nth-child(4) {
    animation-delay: 9s;
  }
  
  @keyframes rotateImages {
    0% {
      opacity: 0;
    }
    8% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }



/* Medium screens (tablets) */
@media (min-width: 600px) {
    .text1 {
        width: 50%;
        padding-right: 20px;
    }
    .image-placeholder1 {
        width: 45%;
    }
}

/* Large screens (desktops) */
@media (min-width: 992px) {
    .container1 {
        padding: 80px;
    }
    .heading1 {
        font-size: 3em;
    }
    .text1 {
        font-size: 1.2em;
        line-height: 2.5;
        letter-spacing: 1px;
    }
    .image1 {
        max-width: 900px;
    }
}

@media (max-width:480px) {
    .heading1{
        font-size: 25px !important;
    }
    .text1 {
        font-size: 16px !important;
        line-height: 2 !important;
    }
    .image1 {
        width: 350px;
        height: 350px !important;
    }
    .explorebutton{
      margin-left: 27%;
    }
    .container11{
      margin-top: 73px;
    }
    .image-placeholder1{
      width: 350px;
      height: 350px !important;
    }
    .image-placeholder1 img {
      position: absolute;
      top: 0;
      left: 0;
      width: 365px;
      height: 350px !important;
      object-fit: cover;
      opacity: 0; /* All images hidden initially */
      animation: rotateImages 12s infinite; /* Animation duration = 4 images * 3s each */
    }
}