@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container1 {
    width: 90%;
    margin: 20px auto;
    padding: 0 !important;
    border-radius: 10px;
    min-height: 100vh;
    
}

.heading1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px !important;
    text-align: center;
    margin-bottom: 20px;
}

.content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7%;
}

.text1 {
    font-family: 'Caudex', serif;
    font-size: 18px !important;
    margin-left: 5%;
    width: 100%;
    padding-right: 0;
    line-height: 3 !important;
    letter-spacing: 1 px;
}

.image-placeholder1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image1 {
    margin-top: 10px;
    width: 430px;
    height: 430px !important;
    height: auto;
    background-color: #ccc;
    border-radius: 5px;
    object-fit: cover;
}

/* Medium screens (tablets) */
@media (min-width: 600px) {
    .text1 {
        width: 50%;
        padding-right: 20px;
    }
    .image-placeholder1 {
        width: 45%;
    }
}

/* Large screens (desktops) */
@media (min-width: 992px) {
    .container1 {
        padding: 80px;
    }
    .heading1 {
        font-size: 3em;
    }
    .text1 {
        font-size: 1.2em;
        line-height: 2.5;
        letter-spacing: 1px;
    }
    .image1 {
        max-width: 900px;
    }
}

@media (max-width:480px) {
    .heading1{
        font-size: 25px !important;
    }
    .text1 {
        font-size: 16px !important;
        line-height: 2 !important;
    }
    .image1 {
        width: 350px;
        height: 350px !important;
    }
}