.container1 {
	width: 100%;
	margin: 0 auto;
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 10px;
	font-family: 'Comic Sans MS', cursive, sans-serif;
}

.heading1 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.content1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.text1 {
	width: 50%;
	padding-right: 20px;
}

.text1 p {
	margin: 20px 0;
}

.image-placeholder1 {
	width: 40%;
	display: flex;
	justify-content: center;
}

.image1 {
	width: 100%;
	max-width: 500px;
	height: auto;
	background-color: #ccc;
	border-radius: 5px;
	object-fit: cover;
}

/* Media Queries */

/* For tablets and smaller screens */
@media (max-width: 768px) {
	.text1,
	.image-placeholder1 {
		width: 100%;
		padding: 0;
	}

	.text1 {
		margin-bottom: 20px;
	}

	.content1 {
		flex-direction: column;
	}
}

/* For mobile devices */
@media (max-width: 480px) {
	.heading1 {
		font-size: 20px;
	}

	.text1 p {
		margin: 15px 0;
	}

	.image1 {
		max-width: 100%;
	}
}
