.whole{
    height: 100vh;
    background-image: url('wwdbg.jpg');
    background-repeat: no-repeat;
    background-position: relative;
    position: relative;
    
}
.center{
    width: 180px;
    height: 150px;
    border-radius: 50px;
    position: absolute;
    left: 44%;
    top: 39%;

}
.top-middle img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    position: absolute;
    left: 44%;
    top: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for smooth effect */
}

.bottom-middle .hover-text {
    position: absolute; /* Position relative to the card */
    top: 70%; /* Position it above the bottom of the parent */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position for centering */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}
.bottom-left .hover-text {
    position: absolute; /* Position relative to the card */
    top: 90%; /* Position it above the bottom of the parent */
    left:30%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position for centering */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.bottom-right .hover-text {
    position: absolute; /* Position relative to the card */
    top: 90%; /* Position it above the bottom of the parent */
    right: 25%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position for centering */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.top-left .hover-text {
    position: absolute; /* Position relative to the card */
    top: 10%; /* Position it above the bottom of the parent */
    left: 29%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position for centering */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.top-right .hover-text {
    position: absolute; /* Position relative to the card */
    top: 10%; /* Position it above the bottom of the parent */
    right: 15%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position for centering */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}
.top-middle .hover-text {
    position: absolute; /* Position relative to the card */
    top: 10%; /* Position it above the bottom of the parent */
    right: 40%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position for centering */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.top-left:hover .hover-text,
.top-middle:hover .hover-text,
.top-right:hover .hover-text,
.bottom-left:hover .hover-text,
.bottom-middle:hover .hover-text,
.bottom-right:hover .hover-text {
    opacity: 1; /* Show text on hover */
}

.top-middle img:hover {
    transform: scale(1.1); /* Zoom in effect */
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}
.center {
    background-image: url('Group 2.png');
    background-size: cover; 
	background-repeat: no-repeat;
	background-position: center; 
	width: 100%; 
    width: 200px;
    height: 160px;
    border-radius: 50px;
    position: absolute;
    left: 44%;
    top: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2), inset -3px -3px 6px rgba(255, 255, 255, 0.7); /* Inner pillow on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for smooth effect */
}

.center:hover {
    transform: scale(1.05); /* Zoom in effect */
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2), inset -3px -3px 6px rgba(255, 255, 255, 0.7); /* Inner pillow on hover */

    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3), -15px -15px 25px rgba(255, 255, 255, 0.9); /* Enhanced shadow on hover */
}

.center h1 {
    color:#fafafa;
    font-family:"Raleway,sans-serif";
    margin: 0;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Text shadow for emphasis */
}
.bottom-middle img,
.top-left img,
.bottom-left img,
.top-right img,
.bottom-right img {
    border-radius: 50px;
    position: absolute;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.bottom-middle,
.top-left,
.bottom-left,
.top-right,
.bottom-right {
    border-radius: 30px 30px 30px;
    background-color: transparent; 

}


.bottom-middle img:hover,
.top-left img:hover,
.bottom-left img:hover,
.top-right img:hover,
.bottom-right img:hover {
    transform: scale(1.1); /* Zoom in effect */
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

.bottom-middle img {
    left: 44%;
    top: 69%;
}

.top-left img {
    left: 23%;
    top: 20%;
}

.bottom-left img {
    left: 23%;
    top: 57%;
}

.top-right img {
    left: 65%;
    top: 20%;
}

.bottom-right img {
    left: 65%;
    top: 57%;
}

.center h2{
    margin-top: 15px;
}

@media (max-width:1100px) {
    .bottom-left img{
        width: 150px;
        height: 150px;
        left: 14%;
        top: 63%;
    }
    .top-left img{
        width: 150px;
        height: 150px;
        left: 14%;
    }
    .bottom-right img{
        width: 150px;
        height: 150px;
        left: 74%;
        top: 63%;

    }
    .top-right img{
        width: 150px;
        height: 150px;
        left: 74%;
        top: 25%;
    }
    .bottom-middle img{
        width: 150px;
        height: 150px;
        left: 45%;
        top: 77%;
        
    }
    .top-middle img{
        width: 150px;
        height: 150px;
    }
    .center{
        width: 180px;
        height: 150px;
        left: 43%;
        top: 43%;
    }
}

@media (max-width:770px) {
    .bottom-left img{
        width: 150px;
        height: 150px;
        left: 14%;
        top: 63%;
    }
    .top-left img{
        width: 150px;
        height: 150px;
        left: 14%;
    }
    .bottom-right img{
        width: 150px;
        height: 150px;
        left: 74%;
        top: 63%;

    }
    .top-right img{
        width: 150px;
        height: 150px;
        left: 74%;
        top: 25%;
    }
    .bottom-middle img{
        width: 150px;
        height: 150px;
        left: 45%;
        top: 77%;
        
    }
    .top-middle img{
        width: 150px;
        height: 150px;
    }
    .center{
        width: 180px;
        height: 150px;
        left: 40%;
        top: 40%;
    }
}

@media (max-width:580px) {
    .bottom-left img{
        width: 130px;
        height: 130px;
        left: 8%;
        top: 61%;
    }
    .top-left img{
        width: 130px;
        height: 130px;
        left: 8%;
        top: 27%;
    }
    .bottom-right img{
        width: 130px;
        height: 130px;
        left: 74%;
        top: 61%;

    }
    .top-right img{
        width: 130px;
        height: 130px;
        left: 74%;
        top: 27%;
    }
    .bottom-middle img{
        width: 130px;
        height: 130px;
        left: 42%;
        
    }
    .top-middle img{
        width: 130px;
        height: 130px;
        left: 42%;
        top: 14%; 
    }
    .center{
        width: 200px;
        height: 150px;
        left: 36%;
        top: 43%;
    }
    
}

@media (max-width:480px) {
    .whole{
        height: 120vh;
        position: relative;
        
    }
    .bottom-left img{
        width: 180px;
        height: 150px;
        left: 5%;
        top: 71%;
        border-radius: 10px;
        margin-bottom: 10%;
    }
    .top-left img{
        width: 180px;
        height: 140px;
        border-radius: 10px;
        left: 5%;
        top: 25%;
    }
    .bottom-right img{
        width: 180px;
        height: 150px;
        left: 54%;
        top: 71%;
        border-radius: 10px;
        margin-bottom: 10%;

    }
    .top-right img{
        width: 180px;
        height: 140px;
        left: 54%;
        top: 25%;
        border-radius: 10px;
        
    }
    .bottom-middle img{
        width: 180px;
        height: 140px;
        left: 54%;
        top: 48%;
        border-radius: 10px;
        
    }
    .top-middle img{
        width: 180px;
        height: 140px;
        left: 5%;
        top: 48%; 
        border-radius: 10px;
    }
    .center{
        width: 150px;
        height: 100px;
        border-radius: 10px;
        left: 34%;
        top: 5%;
    }
    
}
@media (max-width:350px) {
    .whole{
        height: 120vh;
        position: relative;
        
    }
    .bottom-left img{
        width: 140px;
        height: 120px;
        left: 5%;
        top: 71%;
        border-radius: 10px;
        margin-bottom: 10%;
    }
    .top-left img{
        width: 140px;
        height: 120px;
        border-radius: 10px;
        left: 5%;
        top: 25%;
    }
    .bottom-right img{
        width: 140px;
        height: 120px;
        left: 54%;
        top: 71%;
        border-radius: 10px;
        margin-bottom: 10%;

    }
    .top-right img{
        width: 140px;
        height: 120px;
        left: 54%;
        top: 25%;
        border-radius: 10px;
        
    }
    .bottom-middle img{
        width: 140px;
        height: 120px;
        left: 54%;
        top: 48%;
        border-radius: 10px;
        
    }
    .top-middle img{
        width: 140px;
        height: 120px;
        left: 5%;
        top: 48%; 
        border-radius: 10px;
    }
    .center{
        width: 140px;
        height: 120px;
        border-radius: 10px;
        left: 34%;
        top: 5%;
    }
    
}

