.home-img1{
    margin-top: 15%;
    margin-bottom: 15%;
    width: 500px;
    height: 500px;
}
.home-content1{
    margin-top: 40%; 
}
.home-content2{
    margin-left: 65%;
}
.home-content2 p{
    margin: 0%;
}